.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
} 
.HeaderBlock { 
	height: 872px;
}
body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
}

body {
	// min-width: 320px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	.body-before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		.body-before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

// .main-wrapper { 
// 	display: flex;
// 	flex-direction: row; 
// 	// overflow: scroll;
// 	// width: 100%; 
// 	// height: 100vh;
// 	// height: calc(var(--vh, 1vh) * 100);
	
	
// }
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }

.main-wrapper--landing{
	background-color: #ffffff;
}




.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);
	h2{
		font-weight: bold;
		line-height: ((73 / 60));
		span{
			color: $primary;
		}
	}
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}


.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

*::selection {
	color: #fff;
	/* Цвет текста */
	background: var(--bs-primary) ;
	/* Цвет фона */
}



.custom-scroll {
	scrollbar-color: var(--bs-primary)  transparent;

	scrollbar-width: thin;
	scrollbar-color: var(--bs-primary)  transparent;

	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		width: 4px;
		height: 2px;
		background-color: transparent;
		// border-right: 2px;
		/* or add it to the track */
		border-color: transparent;
		opacity: 0;
		-webkit-box-shadow: none;

	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: var(--bs-primary) ;
		border-radius: 2.5px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}

.btn{
	font-weight: bold;
}
.btn-primary{
	color: #ffffff !important;
}
.landing-body{
	padding-top: rem(40);
}
.page-head{
	padding-bottom: rem(40);
	h1{
		@include rfs(60px);
		line-height: (73 / 60);
		font-weight: bold;
		span{
			color: $primary;
		}
	}
}


.slideToggle-enter-active {
	animation: slideToggle-in .5s;
}

.slideToggle-leave-active {
	animation: slideToggle-in .5s reverse;
}

@keyframes slideToggle-in {
	0% {
		// transform: scaleY(0);
		opacity: 0;
	}

	100% {
		// transform: scaleY(1);
		opacity: 1;
	}

}

.smallest{
	font-size: 12px;
}
.contact-table{
	width: 100%;
	td{
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			height: 55px;
			padding-right: rem(20);
			&:nth-child(1){
				width: rem(50);
				text-align: center;
				padding-left: rem(10);
			}
			&:nth-child(3){
				font-weight: 600;
				font-size: rem(18);
			}
	}
}

.btn-md{
	font-size: rem(20);
	padding: rem(8) rem(15);
}
.btn-normal{
	padding: rem(7) rem(15);
	font-size: 1rem;

}

.btn-alert{
	@extend .btn;
	@extend .btn-md;
	margin-bottom: rem(15);
	font-size: rem(14);
	padding-top: rem(8);
	padding-bottom: rem(8);
	svg{
		margin-right: rem(10);
	}
	border-radius: 0;
	span{
		border-bottom: 1px solid;
	}
	&:hover{
		border-color: transparent;
	}
}
.btn-danger{
	color: #fff 	!important;
}
.btn-danger-light{
 
	color: $danger	!important;
}

.alert-warning{
	display: flex;
	
	svg{
		color: #ff8b00;
		flex: 0 0 auto;
		margin-right: rem(10);
	}
}

.btn-reg{
	@extend .btn; 
	width: rem(170);
	margin-bottom: rem(20);
}

.cabinet-block__body{
	.table{
		margin-left: -1rem;
		margin-right: -1rem;
		min-width: calc(100% + 2rem);
		td,
		th{
			&:first-child{
				@include media-breakpoint-up(xxl){

					padding-left: rem(40);
				}
				@include media-breakpoint-up(xl){

					padding-left: rem(10);
				}
			}
		}
	}
}

.search-block{
	max-width: rem(1200);
	position: relative;
	margin-bottom: rem(10);
	&__btn{
		position: absolute;
		left: 0;
		top: 0;
		height: rem(40);
		width: rem(40);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background: none;
	}
	input{
		background-color: rgba($color: $primary, $alpha: .1);
		border-color: rgba($color: $primary, $alpha: .1);
		height: auto;
		padding: rem(7) rem(10) rem(7) rem(60);
	}
}

.table{
	th{
		border-bottom-width: 3px;
		color: #828282;
	}
}


.table--managers  {
	@include media-breakpoint-down(lg) {
		thead{
			display: none;
		}
		tbody{
			display: block;
		}
		tr{
			display: block;
			border: 1px solid #dee2e6;
			margin-bottom: 1rem;
		}
		td{
			display: flex;
			justify-content: space-between;
			// border-width: 0;
			&:last-child{
				border-width: 0;

			}
			padding-top: rem(10);
			padding-bottom: rem(10);
			&::before{
				content: attr(data-title);
				color: #828282;
			}
		}
	}
}

.btn-pay{
	width: rem(120);
}
.doc-item{
	display: flex;

	margin-bottom: rem(26);
	&__icon-wrap{
		width: 32px;
		height: 40px; 
		background: #CCE0F3;
		border-radius: 2px;
		margin-right: rem(32);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #5F97CA;
		font-size: 9px;
		border-radius: rem(4);
		clip-path: polygon(0% 0%, 75% 0%, 100%  30%, 100% 100%, 0% 100%);
		// background-image: url(../svg/file);
	}
	.h6{
		line-height: (24 / 20);
	}
	a{
		font-size: 12px;
	}
}

.manager-block{
	background: linear-gradient(90.35deg, #5F97CA 9.37%, #3D8060 87.71%);
	border-radius: 4px;
	padding: rem(36) rem(34) rem(20);
	width: rem(290);
}

.border-none{
	border: none !important;
}

.table--users{
	td,
	th{
		--table-x: #{rem(5)};
	}
}

.dropdown{
	position: relative;
	&__icon-wrap{
		position: relative;
		cursor: pointer;
	}
	&:hover &__block{
		z-index: 4;
		visibility: visible;
		opacity: 1;
	}
	&__block{
		z-index: -1;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 100%;
		background: #FFFFFF;
		@include mt;
		/* 1 */

		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		min-width: rem(240); 
		padding: rem(8) rem(18);
		&::before{
			content: '';
			position: absolute;
			bottom: 99%;
			left: 2px;
			@include triangle(12px, #fff, up);
		}
		img{
			display: inline;
		}
		.smallest.text-secondary{
			font-size: 10px;
			color: rgba($color: #686c76, $alpha: .5); 
		}
	}
}

.btn-back{
	border-radius: 0;
}
.add-lang{
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid transparent;
	padding-left: rem(20);
	padding-right: rem(20);
	font-weight: bold;
	&.active{
		color: $body-color;
		border-color: $primary;
	}
	&:hover{
		color: $body-color;

	}
}

.input-group--q{
		position: relative;
		.input-group-text{
			width: rem(52);
			background-color: #fff;
			align-items: center;
			justify-content: center;
		}
		input{
			padding-right: rem(40);
		}
}
.delete-q{
	position: absolute;
	top: rem(14);
	right: rem(20);
	z-index: 4;
}

.btn-outline-primary{
	&.btn-bg{
		&:not(:hover){

			border-color:rgba($color: $primary, $alpha: .1);
			background:rgba($color: $primary, $alpha: .1);
			color: $primary;
		}
	}
}

.bg-primary-l{
 	background:rgba($color: $primary, $alpha: .1);
}

.aside{
	ul{

	 
	}
	li{
		padding-right: rem(40);
		margin-bottom: 1rem;
		cursor: pointer;
		&.drag{

			background-repeat: no-repeat;
			background-image: url('./assets/svg/chevron-up.svg'),
			url('./assets/svg/chevron-down.svg');
			background-position: right 20%,
			right 60%;
		}
		// background-image: url('./asssets/svg/chevron-up.svg');
	}
}

.menu-q{
	&.disabled{
		opacity: 0.5;
	}
	.h5{
		cursor: pointer;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-image: url('./assets/svg/chevron-down-dark.svg');
			background-position: right 20%;
			background-size: cover;
			width: rem(14);
			height: rem(7);
			right: 0;
			top: rem(12);
		}
	}
	&.disabled {
		.h5{
			pointer-events: none;
			&::before{
				transform: rotate(-90deg);
			}
		}
	}
}

.video-block{
	@include block(1008, 513);
	margin-bottom: rem(10);
	> * {
		position: absolute;
		left: 0;
		top: 0;
		width: 100% !important;
		height: 100% !important;

	}
	> img {
		object-fit: cover;
	}
}

.form-select--q{
	border-right-width: rem(13);
	border-radius: 0;
	height: auto;
	font-size: rem(20);
	padding-top: rem(5);
	padding-bottom: rem(5);
	display: inline-block;
	width: auto;
}

.block-gradient{
	background: linear-gradient(96.09deg, #C1459F 0.61%, #5F97CA 104.07%);
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(20) ;
	min-height: rem(336);
	flex-direction: column;
	&__title{
		@include rfs(30px);
		margin-bottom: rem(42);
		font-weight: bold;
		max-width: rem(700);
	}
	&__btns{
		display: flex;
		margin-left: rem(-20);
		margin-right: rem(-20);
		max-width: calc(100% + #{rem(40)});
	}
	.btn{
		width: rem(200);
		margin-left: rem(20);
		margin-right: rem(20);
		max-width: calc(50% - #{rem(40)});
	}

}

.form-check-input[type="checkbox"]{
	background-size: 80%;
}

.text-lg{
	@include rfs(50px);
	font-weight: bold;
}

.star-block{
	display: flex;
	@include roww(17.6px);
	flex-direction: row-reverse;
	justify-content: flex-end;
	&__item{
		cursor: pointer;
		color: rgba($color: #c4c4c4, $alpha: .5);
		@include mt;
		&:hover{
			// opacity: 0.8;
		}
		&.active{
			color: $primary;
		}
		&:hover{ 
				color: $primary;
				& ~	.star-block__item {
					color: $primary; 
				}
			} 
	}
}



.left-btn {
	@include media-breakpoint-up(md){

		width: rem(170);
	}
	width: rem(140);
	padding: rem(10);
	--color: #{$primary};
	border: 2px solid var(--color);
	position: relative;
	margin-bottom: rem(20);
	cursor: pointer;
	background-color: #fff;

	&::before {
		content: '';
		@include a-cent1(y);
		width: 8px;
		height: 8px;
		right: -5px;
		border-radius: 50%;
		background-color: var(--color);
	}

}

.right-text-block {
	padding: rem(10);
	--color: #{$primary};
	border: 2px solid var(--color);
	position: relative;
	margin-bottom: rem(20);
	cursor: pointer;
	max-width: calc(100% - 13px);
	background-color: #fff;

	&::before {
		content: '';
		@include a-cent1(y);
		width: 8px;
		height: 8px;
		left: -5px;
		border-radius: 50%;
		background-color: var(--color);
	}

	&::after {
		content: '';
		position: absolute;
		top: -2px;
		left: 100%;
		height: calc(100% + 4px);
		width: 13px;

	}

	&.border-success {
		--color: #{$success};

		&::after {
			background-color: var(--color);
		}
	}

	&.border-danger {
		--color: #{$danger};

		&::after {
			background-color: var(--color);
		}
	}

	&.border-danger-success {
		--color: #{$success};

		&::after {
			background: linear-gradient(to bottom, var(--color) 0%, var(--color) 50%, $danger 50%, $danger 100%);
		}
	}
}

.row-lines {
	@include roww(20px);
	@include media-breakpoint-up(md) {
			--bs-gutter-x: 75px;

		}

}

.border-success {
	--color: #{$success};
}

.border-danger {
	--color: #{$danger};
}

.left-btn-line {
	background-color: var(--color);
	width: 100px;
	height: 2px;
	left: 100%;
	top: 50%;
	margin-top: -1px;
	transform-origin: left center;
	position: absolute;

}
.vld-icon {
    svg {
        stroke: $blue;
    }
}