
	// start .HeaderBlock
	.HeaderBlock {
		background: linear-gradient(0deg, rgba(13, 39, 63, 0.76), rgba(13, 39, 63, 0.76));
		min-height: 100vh;
		// height: 872px;
		color: #ffffff;
		padding-top: rem(144);
		padding-bottom: rem(45);
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1{
			@include rfs(64px);
			font-weight: bold;
			@include media-breakpoint-up(xxl) {
			margin-bottom: rem(42);
		}
		margin-bottom: rem(22);
		}
		 &__btn{
			 @extend .btn;
			 @extend .btn-primary;
			 width: rem(200);
			 
			 @include media-breakpoint-up(xxl) {
				 margin-bottom: rem(136);
				}
				margin-bottom: rem(36);
			}
			@include media-breakpoint-up(xxl) {
				&__row{
					--bs-gutter-x: 64px;
				}
			}
		 &__col{
			 position: relative;
			 padding-top: rem(27);
			 padding-bottom: rem(30);
			 font-weight: bold;
			 &::before{
				content: '';
				position: absolute;
				top: 0;
				left: calc(var(--bs-gutter-x) / 2);
				width: calc(100% - var(--bs-gutter-x));
				background-color: $primary;
				height: 1px;
			 }
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.HeaderBlock

.gerb{
	display: flex;
	align-items: center;
	@include media-breakpoint-up(lg){
		margin-left: auto;
	}

	max-width: rem(250 + 20  + 100);
	@include media-breakpoint-up(xxl) {
		padding-bottom: rem(45);
	}
	padding-bottom: rem(25);
	img{
		max-width: rem(100);
		flex: 0 0 auto;
	}
	&__text{
		margin-left: rem(22);

	}
}



