
	// start .SAccordion
	.SAccordion {
		--sPT: 0;
		@include media-breakpoint-up(xl) {
			max-width: rem(800);
		}
		// --sPB: ;
		// --sTPB: ;
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.SAccordion

.SAccordion-item{
	&:first-child{
		border-top: 1px solid rgba($color: #000000, $alpha: .2);
	}
 
		border-bottom: 1px solid rgba($color: #000000, $alpha: .2); 
	&__toggle{
		padding-top: rem(20);
		padding-bottom: rem(20);
		padding-right: rem(40);
		@extend .h5;
		font-weight: bold;
		margin-bottom: 0;
		position: relative;
		cursor: pointer;
		
	}
	&__toggle.active &__label{
		&::before{
			transform: rotate(0deg);
		}
	}
	&__label{
		position: absolute;
		right: rem(0);
		width: rem(16);
		top: rem(36);
		&::before,
		&::after{
			content: '';
			width: rem(16);
			height: rem(4);
			background-color: $primary; 
			@include a-cent;
			@include mt;
		}
		&::before{
			transform: rotate(90deg);
		}
	}
	&__block{
		padding-bottom: rem(20);
		transform-origin: top left;
		// display: none;
	}
}