
	// start .SReadyPartnership
	.SReadyPartnership {
	 img{
		 @include media-breakpoint-up(xl){

			 right: rem(-2);
			 //  @include a-cent
			 margin-right: 0;
			 left: auto;
			}
			left: rem(550);
			 top: rem(-90);
	 }
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.SReadyPartnership